aiohttp @ file:///D:/bld/aiohttp_1623682523147/work
altair==4.1.0
ansi2html==1.6.0
anyio @ file:///D:/bld/anyio_1626998785974/work/dist
argon2-cffi @ file:///D:/bld/argon2-cffi_1605217264330/work
astor==0.8.1
async-generator==1.10
async-timeout==3.0.1
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1620387926260/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1619719576210/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
base58==2.1.1
beautifulsoup4==4.10.0
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1628022386512/work
blinker==1.4
branca==0.4.2
Brotli==1.0.9
brotlipy==0.7.0
bs4==0.0.1
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1619593780156/work
certifi==2021.5.30
cffi @ file:///D:/bld/cffi_1625835466651/work
chardet @ file:///D:/bld/chardet_1610093673558/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1626371162869/work
click==7.1.2
click-plugins==1.1.1
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1622246659049/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
cryptography @ file:///D:/bld/cryptography_1616851819782/work
cycler==0.10.0
dash==2.0.0
dash-bootstrap-components==1.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy @ file:///D:/bld/debugpy_1627074992000/work
decorator==4.4.2
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
et-xmlfile==1.1.0
Fiona==1.8.20
Flask==2.0.2
Flask-Compress==1.10.1
folium==0.12.1
fuzzywuzzy==0.18.0
GDAL==3.3.1
geographiclib==1.52
geojson==2.5.0
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1623249625470/work
geopy==2.2.0
gitdb==4.0.9
GitPython==3.1.24
google-api-core==2.2.2
google-api-python-client==2.29.0
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1629297046240/work
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-colab @ file:///home/conda/feedstock_root/build_artifacts/google-colab_1613339584002/work
googleapis-common-protos==1.53.0
gspread==4.0.1
h11==0.12.0
html5lib==1.1
httplib2==0.20.2
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1609836280497/work
importlib-metadata @ file:///D:/bld/importlib-metadata_1627749055932/work
ipykernel @ file:///D:/bld/ipykernel_1626728344247/work/dist/ipykernel-6.0.3-py3-none-any.whl
ipyleaflet==0.14.0
ipython @ file:///D:/bld/ipython_1627911791089/work
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous==2.0.1
jedi @ file:///D:/bld/jedi_1610147001629/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1621419064915/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1612898609989/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1614815863336/work
jupyter==1.0.0
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1615693636836/work
jupyter-console==6.4.0
jupyter-core @ file:///D:/bld/jupyter_core_1612125412016/work
jupyter-dash==0.4.0
jupyter-server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1627951139499/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1628187862280/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1628008856752/work
jupyterlab-widgets==1.0.0
kiwisolver @ file:///D:/bld/kiwisolver_1610099953470/work
lab==6.4
levenshtein==0.12.0
lxml==4.6.3
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1627363180059/work
MarkupSafe @ file:///D:/bld/markupsafe_1621455953770/work
matplotlib @ file:///D:/bld/matplotlib-suite_1620506140045/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1618935594181/work
mistune @ file:///D:/bld/mistune_1624941476479/work
module==0.0.4
multidict @ file:///D:/bld/multidict_1610319160902/work
munch==2.5.0
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1621947328608/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1614336084111/work
nbconvert @ file:///D:/bld/nbconvert_1624472909766/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1617383142101/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1617163391303/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1627363373051/work
notebook==6.4.3
numpy @ file:///D:/bld/numpy_1626648564420/work
oauthlib==3.1.1
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
openpyxl==3.0.7
outcome==1.1.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1625323647219/work
pandas @ file:///D:/bld/pandas_1627224180214/work
pandocfilters==1.4.3
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1617148930513/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///D:/bld/pillow_1625677963956/work
plotly==5.3.1
portpicker @ file:///home/conda/feedstock_root/build_artifacts/portpicker_1621978200601/work
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1622586138406/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1623977816122/work
protobuf==3.19.1
pyarrow==6.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pybase64==1.2.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pydeck==0.7.1
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1620245170812/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==2.4.7
pyproj @ file:///D:/bld/pyproj_1623802040687/work
pyrsistent==0.18.0
PySocks @ file:///D:/bld/pysocks_1610291737679/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
pytz-deprecation-shim==0.1.0.post0
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
pywebio==1.4.0
pywin32==301
pywinpty @ file:///D:/bld/pywinpty_1624910531351/work/target/wheels/pywinpty-1.1.3-cp39-none-win_amd64.whl
pyzmq @ file:///D:/bld/pyzmq_1628233067124/work
qtconsole==5.1.1
QtPy==1.9.0
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1626393743643/work
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
retrying==1.3.3
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1614171254180/work
Rtree @ file:///D:/bld/rtree_1626988025902/work
scikit-learn @ file:///D:/bld/scikit-learn_1628432154130/work
scipy @ file:///C:/bld/scipy_1628206525580/work
selenium==4.0.0
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
Shapely==1.7.1
simplejson==3.17.3
six==1.12.0
smmap==5.0.0
sniffio @ file:///D:/bld/sniffio_1610318484496/work
sortedcontainers==2.4.0
soupsieve==2.2.1
streamlit==1.1.0
tenacity==8.0.1
terminado @ file:///D:/bld/terminado_1623365606864/work
testpath @ file:///home/conda/feedstock_root/build_artifacts/testpath_1621261527237/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1626092076920/work
toml==0.10.2
toolz==0.11.2
tornado==6.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1602771532708/work
traittypes==0.2.1
trio==0.19.0
trio-websocket==0.9.2
txt2tags==3.7
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1622748266870/work
tzdata==2021.5
tzlocal==4.1
ua-parser==0.10.0
uritemplate==4.1.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1624634538755/work
user-agents==2.2.0
validators==0.18.2
vega-datasets==0.9.0
watchdog==2.1.6
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
websocket-client @ file:///D:/bld/websocket-client_1610127841699/work
Werkzeug==2.0.2
widgetsnbextension==3.5.1
win-inet-pton @ file:///D:/bld/win_inet_pton_1610147566412/work
wincertstore==0.2
wsproto==1.0.0
yarl @ file:///D:/bld/yarl_1625233126428/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1625284368454/work
